body,
html {


    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}







.botoes-direita {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 15px;



}

input {

    border-radius: 30px;
    height: 30px;
    width: 600px;
    border: 1px solid black;




}

img {

    margin-left: 15px;

}

.lupa {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: fit-content;


}

.busca {

    position: relative;

}