@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');



html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(218, 218, 218);


}

body{

margin: 0;


}

.header {
    text-align: center;
    font-weight: bold;
}

.menu {


    display: flex;
    text-align: center;
    justify-content: center;


}

.menu1 {


    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;

}


h1 {

    margin: 10px;
}

h1:hover {
    color: darkred;
    transition: 0.2s ease-in-out;

}

h2 {

    margin: 20px;
}

li {

    margin: -5px;
}

.paises {


    font-weight: normal;
}

nav {

    background-color: darkred;
    width: 100%;
    height: 50px;
}

svg {
    width: 35px;

}

h1:hover {
    color: darkred;
    fill: darkred;
    transition: 0.2s ease-in-out;
}



.voltar:hover {

    color: darkred;
    transition: 0.2s ease-in-out;

}

p {

    margin: 0px;
}

p{


    padding:  10px;
}