html {

    text-align: center;
}


button {

    font-size: 1em;
    padding: 15px;
    border: 3px whitesmoke;
    border-radius: 50px;
    border-style: solid;
    text-decoration: none;
    color: white;
}


.pendentes {
    background-color: #8FD14f;
    color: white;

}

.concluidas {
    background-color: #0ca789;

}

.excluidas {
    background-color: #EB4045;

}

a {

    color: white;
    text-decoration: none;
    cursor: pointer;
}

h5 {

    color: black;
}