body,
html {

    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;



}


.texto {

    position: relative;
    border: none;
    border-radius: 3px;
    background-color: rgb(221, 218, 218);
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

}


.info {


    border-radius: 10px;
    border: none;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    top: -22px;
    left: -20px;
    background-color: rgb(9, 85, 148);
    color: white;
    cursor: pointer;
    font-size: large;


}

svg {

    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    width: 20px;
    fill: white;
    border: white
}

p {

    border-left: 1px solid white;
    padding: 0px 5px;
}

code {

color: rgb(9, 85, 148); 
font-weight: bold;
cursor: pointer;

}

