@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');


html {

    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

h1 {
    
    font-size: 3em;
    cursor: default;
    transition: 0.2s ease-in-out;

}

h1:hover {

    font-size: 3.1em;
    cursor: default;
    transition: 0.2s ease-in-out;
    
}

button {


    font-weight: bold;
    font-size: 1em;
    padding: 15px;
    border: 3px white;
    border-radius: 50px;
    border-style: solid;
    text-decoration: none;
    color: white;
    margin: 5px;
    width: 150px;

}


.pendentes {
    background-color: #8FD14f;
    color: white;
    transition: 0.2s ease-in-out;

}

.pendentes:hover {
    background-color: #457912;
    color: white;
    transition: 0.2s ease-in-out;

}

.concluidas {
    background-color: #0ca789;
    transition: 0.2s ease-in-out;
}

.concluidas:hover {
    background-color: #086653;
    transition: 0.2s ease-in-out;
}


.excluidas {
    background-color: #EB4045;
    transition: 0.2s ease-in-out;
}

.excluidas:hover {
    background-color: #961216;
    transition: 0.2s ease-in-out;
}


a {

    color: white;
    text-decoration: none;
    cursor: pointer;
}


ul {


    list-style: none;
    padding: 15px;
    color: rgb(138, 138, 138);
    margin: 10px 650px;
    font-size: 1.1em;


}



.a,
.c {

    background-color: none;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    border: 2px solid;
    border-color: #6aac29;
    transition: all 0.2s ease-in-out;

}


.a:hover {
    border-color: #457e0c;
    transition: all 0.2s ease-in-out;

}

.c:hover {
    border-color: #457e0c;
    transition: all 0.2s ease-in-out;

}



li:nth-child(even) {

    background-color: #6aac29;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    border: 2px solid;



}



li {
    cursor: default;
    transition: 0.2s ease-in-out;
    padding: 10px;
    
}

li:hover {

    
    padding: 15px;
    transition: 0.2s ease-in-out;

}


